*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
nav
{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background: #202040;
}
.home
{
    letter-spacing: 10px;
    font-weight: bold;
}
nav a
{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
}
nav a:hover
{
    transition: 0.5s ease-in;
    font-size: 26px;
}
.middle
{
    padding: 250px;
    text-align: center;
    color:white;
    background-image: url(Images/Network.jpg);
    background-position: bottom left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.about
{
    display: flex;
    flex-direction: column;
    background-color: #202040;
    color: white;
}
.title
{
    margin: 16px;
    text-align: center;
}
.about p
{
    margin: 16px;
    text-align: center;
}
.about img
{
    flex-direction: row;
    margin: 16px;
}
.math
{
    background-image: url(Images/Math.jpg);
    background-position: center;
    text-align: left;
    display:flex;
}
.math h1
{
    margin-top: 15px;
    padding: 50px;
    opacity: 0.8;
}
.math p
{
    font-size: 20px;
    padding: 24px;
}
.physics
{
    background-image: url(Images/Physics.jpg);
    background-position: center;
    text-align: right;
    display: flex;
}
.physics h1
{
    margin-top: 30px;
    padding: 50px;
    opacity: 0.8;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.physics p
{
    font-size: 20px;
    padding: 24px;
}
.programming
{
    background-image: url(Images/Programming.jpg);
    background-position: center;
    text-align: left;
    display: flex;
}
.programming h1
{
    margin-top: 35px;
    padding: 50px;
    opacity: 0.8;
}
.programming p
{
    font-size: 20px;
    padding: 24px;
}
footer
{
    background-color:black;
    color:white;
    text-align: center;
    padding: 25px;
}