*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.overflowadded
{
    overflow: auto !important;
}
.loader 
{
    z-index: 2;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #000040;
    background: -moz-linear-gradient(left, #000040 10%, rgba(0,0,64, 0) 42%);
    background: -webkit-linear-gradient(left, #000040 10%, rgba(0,0,64, 0) 42%);
    background: -o-linear-gradient(left, #000040 10%, rgba(0,0,64, 0) 42%);
    background: -ms-linear-gradient(left, #000040 10%, rgba(0,0,64, 0) 42%);
    background: linear-gradient(to right, #000040 10%, rgba(0,0,64, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before 
{
    width: 50%;
    height: 50%;
    background: #000040;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after 
{
    background: #000000;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 
{
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.preload
{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}
.loaded
{
    transition: 0.5s all ease-in-out;
    opacity: 0 !important;
    z-index: unset;
}
nav
{
    background-color: black;
}
nav a:hover
{
    font-size: 22px;
    border-bottom: 1px solid white;
}
nav a
{
    transition: all 0.3s ease-in-out;
}
.navbar-nav
{
    font-size: 16px;
    justify-content: space-around;
    flex-basis: 100%;
}
.middle
{
    background: url(Images/Electrical/Network.jpg);
    background-position: center; 
    color:white;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    height: 90vh;
}
.middle h1
{
    font-size: 48px;
    padding-top: 150px;
}
.toknow
{
    color: white;
    text-align: center;
    background-color: black;
}
.toknow h1
{
    padding: 32px;
}
.toknow-text
{
    opacity: 0;
    transform: translateY(30px);
}
.appear
{
    opacity: 1 !important;
    transform: translateY(0px);
    transition: 0.8s all ease-in-out;
}
.title
{
    margin: 16px;
    text-align: center;
}
.about p
{
    margin: 16px;
    text-align: center;
}
.about img
{
    flex-direction: row;
    margin: 16px;
}
.math
{
    color: white;
    background-image: url(Images/Electrical/Math.jpg);
    background-position: center;
    text-align: left;
    text-shadow: 4px 4px 4px black;
}
.math h1
{
    padding: 16px;
    opacity: 0.8;
}
.math p
{
    font-size: 20px;
    padding: 24px;
}
.physics
{
    background-image: url(Images/Electrical/Physics.jpg);
    background-position: center;
    text-align: right;
    color: white;
    text-shadow: 4px 4px 4px black;
}
.physics h1
{
    padding: 16px;
    opacity: 0.8;
}
.physics p
{
    font-size: 20px;
    padding: 24px;
}
.programming
{
    background-image: url(Images/Electrical/Programming.jpg);
    background-position: center;
    color: white;
    text-align: left;
    text-shadow: 4px 4px 4px black;
}
.programming h1
{
    padding: 16px;
    opacity: 0.8;
}
.programming p
{
    font-size: 20px;
    padding: 24px;
}
.basic
{
    color: white;
    background-color: black;
    text-align: center;
}
.elements
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    text-align: center;
    background-color: black;
    font-size: 1em;
}
.elements img
{
    width: 15em;
}
.capacitor
{
    margin-bottom: 2em;
}
.mastermind
{
    text-align:  center;
    color:white;
}
.mastermind
{
    letter-spacing: 12px;
}
.tesla
{
    text-align: center;
    background: black;
}
.trash
{
    text-align: center;
    background: black;
}
.card
{
    margin-left: auto; margin-right: auto;
    width: 40%;
}
footer
{
    background-color:black;
    color:white;
    text-align: center;
    padding: 25px;
}
footer p
{
    padding-top: 1em;
}
@media only screen and (max-width: 415px) 
{
    .card
    {
        width: 100%;
    }
    .math
    {
        text-align: center;
    }
    .physics
    {
        text-align: center;
    }
    .programming
    {
        text-align: center;
    }
}