*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
nav
{
    background-color: black;
}
li a:hover
{
    font-size: 22px;
    border-bottom: 1px solid white;
}
li a
{
    transition: all 0.3s ease-in-out;
}
.navbar-nav
{
    font-size: 16px;
    justify-content: right;
    flex-basis: 100%;
}
.books
{
    background: #B1560F;
    padding: 50px;
    text-align: center;
}
.books img
{
    width: 40%;
}
.books p
{
    color: white;
}
.book p
{
    padding: 25px;
    font-size: 25px;
    text-decoration: underline;
}
footer
{
    color:white;
    background: black;
    padding: 25px;
    text-align: center;
}
@media only screen and (max-width: 615px) 
{
    .books img
    {
        width: 60%;
    }
}