*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
nav
{
    background: linear-gradient(180deg, #203040, black);
}
nav a:hover
{
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}
.navbar-nav
{
    font-size: 16px;
    justify-content: space-around;
    flex-basis: 160%;
}
.middle
{
    text-align: center;
    color:white;
    background-image: url(Images/Programming/background.webp);
    background-position: bottom;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.middle h1
{
    padding: 120px;
}
.toknow
{
    background: linear-gradient(to top, #203040, black);
    color: white;
    text-align: center;
}
.typing
{
    background-color: #203040;
    color: white;
}
.typing p
{
    padding: 16px;
}
.thinking
{
    color: white;
    background: url(Images/Programming/brain.jpg);
    background-position: center;
    text-align: left;
}
.thinking h1
{
    padding: 16px;
    opacity: 0.8;
}
footer
{
    color:white;
    background: black;
    padding: 25px;
    text-align: center;
}