*
{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
nav
{
    background: linear-gradient(180deg, #203040, black);
}
li a:hover
{
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}
.navbar-nav
{
    font-size: 16px;
    justify-content: space-around;
    flex-basis: 160%;
}
.middle
{
    text-align: center;
    color:white;
    background-image: url(Images/Programming/background.webp);
    background-position: bottom;
    text-shadow: 4px 4px 4px black;
}
.middle h1
{
    padding: 120px;
}
.toknow
{
    background: linear-gradient(to top, #203040, black);
    color: white;
    text-align: center;
}
.editor
{
    background-color: #203040;
}
.editor h1
{
    color:white;
    padding: 16px;
    font-weight: bold;
    text-align: center;
}
.CodeMirror
{
    margin-left: 20%;
}
.thinking
{
    color: white;
    text-align: left;
}
.thinking h1
{
    padding: 16px;
    opacity: 0.8;
}
footer
{
    color:white;
    background: black;
    padding: 25px;
    text-align: center;
}
@media only screen and (max-width: 375px) 
{
    .middle h1
    {
        padding: 30px;
    }
    .editor
    {
        font-size: 12px;
        text-align: left;
    }
}  