*
{
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: black;
    overflow-x: hidden;
}
nav
{
    background-color: black;
}
nav a:hover
{
    font-size: 22px;
    border-bottom: 1px solid white;
}
nav a
{
    transition: all 0.3s ease-in-out;
}
.navbar-nav
{
    justify-content: space-around;
    flex-basis: 160%;
    font-size: 16px;
}
.middle
{
    background: url(Images/Circuit.jpg); 
    background-position: center; 
    color:white;
    text-align: center;
    text-shadow: 4px 4px 4px black;
    height: 90vh;
}
.middle h1
{
    font-size: 48px;
    padding-top: 150px;
}
.electrical
{
    display: flex;
    padding: 24px;
    padding: 100px;
    margin: 12em 0em 12em 0em;
    background-color: black;
    transition: 0.5s all ease-in-out;
}
.electrical-text
{
    opacity: 0;
    max-width: 40%;
    transform: translateY(-40px);
    color:white;
}
.appear
{
    opacity: 1 !important;
    transform: translateY(0px) !important;
    transition: 0.8s all ease-in-out;
}
.programming
{
    display: flex;
    padding: 24px;
    padding: 100px;
    margin: 12em 0em 12em 0em;
    background-color: black;
}
.programming-text
{
    margin-left: 3em;
    opacity: 0;
    max-width: 40%;
    transform: translateY(-40px);
    color:white;
}
.mechanical
{
    display: flex;
    padding: 24px;
    padding: 100px;
    margin: 12em 0em 6em 0em;
    background-color: black;
    transition: 0.5s all ease-in-out;
}
.mechanical-text
{
    opacity: 0;
    max-width: 40%;
    transform: translateY(-40px);
    color:white;
}
.contact
{
    color: white;
    background: #302040;
    padding: 26px;
}
.contact h1
{
    border-top: 1px solid white;
    padding-top: 32px;
}
.contact p, input
{
    text-align: center;
}
footer
{
    color:white;
    background: black;
    padding: 25px;
    text-align: center;
}
@media only screen and (max-width: 615px) 
{
    body
    {
        overflow-x: hidden;
    }
    .electrical
    {
        flex-direction: column;
        text-align: center;
        margin: 6em 0em 6em 0em;
    }
    .electrical-text
    {
        max-width: 100%;
    }
    .electrical img
    {
        transform: translateX(-80px);
        height: 20em;
        width: 20em;
    }
    .programming
    {
        flex-direction: column;
        text-align: center;
        margin: 6em 0em 6em 0em;
    }
    .programming-text
    {
        max-width: 100%;
        margin-left: 0em;
    }
    .programming img
    {
        transform: translateX(-80px);
        height: 20em;
        width: 20em;
        margin-bottom: 2em;
    }
    .mechanical
    {
        flex-direction: column;
        text-align: center;
        margin: 6em 0em 6em 0em;
    }
    .mechanical-text
    {
        max-width: 100%;
    }
    .mechanical img
    {
        transform: translateX(-80px);
        height: 20em;
        width: 20em;
    }
}  