*
{
    font-family: 'Poppins', sans-serif;
}
nav
{
    background: linear-gradient(to bottom, #202040 ,black)
}
nav a:hover
{
    font-size: 22px;
    border-bottom: 1px solid white;
}
nav a
{
    transition: all 0.3s ease-in-out;
}
.navbar-nav
{
    justify-content: space-around;
    flex-basis: 160%;
    font-size: 16px;
}
.middle
{
    background: url(Images/Circuit.jpg); 
    background-position: center; 
    color:white;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}
.middle h1
{
    padding: 150px; 
}
.electircal
{
    padding: 100px;
    color:white;
}
.electircal h1
{
    text-decoration: underline;
}
.programming
{
    padding: 80px;
    color:white;
    text-align: right;
}
.programming h1
{
    text-decoration: underline;
}
.mechanical
{
    color:white;
}
.mechanical h1
{
    text-decoration: underline;
}
.contact
{
    color: white;
    background: #302040;
    padding: 26px;
}
.contact h1
{
    border-top: 1px solid white;
    padding-top: 32px;
}
.contact p, input
{
    text-align: center;
}
footer
{
    color:white;
    background: black;
    padding: 25px;
    text-align: center;
}
@media only screen and (max-width: 415px) 
{
    .middle h1
    {
        padding: 70px;
    }
    .electircal h1
    {
        text-align: center;
    }
    .electircal p
    {
        text-align: center;
    }
    .programming h1
    {
        text-align: center;
    }
    .programming p
    {
        text-align: center;
    }
    .mechanical h1
    {
        text-align: center;
    }
    .mechanical p
    {
        text-align: center;
    }
}  