*
{
    font-family: 'Poppins', sans-serif;
}
nav
{
    background: linear-gradient(to bottom, #202040 ,black)
}
nav a:hover
{
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}
.navbar-nav
{
    justify-content: space-around;
    flex-basis: 160%;
    font-size: 16px;
}
.middle
{
    background: url(Images/Circuit.jpg); 
    background-position: center; 
    color:white; 
    text-align: center; 
    text-shadow: 4px 4px 4px black;
}
.middle h1
{
    padding: 200px; 
}
.electircal
{
    background: linear-gradient(to top, #202040 ,black);
    padding: 100px;
    color:white;
}
.electircal h1
{
    text-decoration: underline;
}
.programming
{
    padding: 80px;
    background:#602080;
    color:white;
    text-align: right;
}
.programming h1
{
    text-decoration: underline;
}
.mechanical
{
    padding: 80px;
    background:#b030b0;
    color:white;
}
.mechanical h1
{
    text-decoration: underline;
}
.contact
{
    color: white;
    background: #202040;
    padding: 26px;
}
.contact p, input
{
    text-align: center;
}
footer
{
    color:white;
    background: black;
    padding: 25px;
    text-align: center;
}